.header {
  background: $light-background-header;
  align-items: center;
  padding: 1rem 1rem;

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background: $dark-background-header;
  }
}
