.post {
  width: 100%;
  max-width: $max-content-width;
  text-align: left;
  padding: 0 20px 20px 20px;
  margin: 0 auto;

  .post-commit-info {
    margin-top: 3rem;
    text-align: center;
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;
    color: inherit;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }
  &-content {
    margin-top: 30px;
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-info {
    margin-top: 30px;
    color: $light-color-secondary;

    @media (prefers-color-scheme: dark) {
      & {
        color: $dark-color-secondary;
      }
    }

    .tag {
      margin-right: .5em;
      color: $brand;
      text-decoration: none;

      &::before {
        content: "#"
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }

  a.footnote-ref {
    text-decoration: none;
  }
}

.pagination {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media #{$media-size-phone} {
    & {
      grid-template-columns: 1fr;
    }
  }

  .button {
    background: $light-background-secondary;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    margin: 0;
    gap: .5rem;
    align-items: center;

    @media (prefers-color-scheme: dark) {
      & {
        background: $dark-background-secondary;
      }
    }

  }
}

main.post-content {
  line-height: 1.9;
}

aside#toc {
  margin: 3rem 0;
}
