@charset "UTF-8";

/* light theme color */
$light-background: #f0f0f0;
$light-background-secondary: #e0e0e0;
$light-background-header: #fafafa;
$light-color: #111;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: hsl(222, 8%, 10%);
$dark-background-secondary: #3b3d42;
$dark-background-header: hsl(222, 8%, 8%);
$dark-color: hsl(222, 8%, 95%);
$dark-color-secondary: hsl(222, 8%, 75%);
$dark-border-color: #4a4b50;

$brand: hsl(222, 89%, 65);

$max-body-width: 850px;
$max-content-width: 850px;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";
