// Reset
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 240, 240);
  background-image: url("./img/background_2k.jpg");
  background-size: cover;
  color: white;
}

main {
  box-sizing: border-box;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  font-weight: 700;

  img {
    max-width: 400px;
    border: 10px solid #fff;
    width: 50vmin;
    border-radius: 50%;
    flex: 0;
  }

  > div {
    flex: 0 1 auto;
    max-width: 50vw;
  }

  h1 {
    font-size: 4rem;
    flex: 0 1 auto;
  }

  h2 {
    font-size: 3rem;
    flex: 0 1 auto;
  }
}

footer {
	height: 2rem;
	text-align: center;

	a {
		color: #fff;
		position: relative;
		display: inline-block;
		text-decoration: none;
		margin: 0 10px 0 10px;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 8px;
			z-index: -1;
			background: #50575d;
			bottom: -2px;
			position: absolute;
		}



	}
}

@media screen and (max-width: 400px) {
  main {
    img {
      border-width: 5px;
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

}
