{{ define "main" }}
    <main class="post">

        <article>
          <header>
            <h1 class="post-title">{{ .Title | markdownify }}</h1>
            <div class="post-info">
                <div>
                    <span>{{ dateFormat "01 Jan 2006" .Date.Local}}{{- if not ( eq .Date.Local
                        .Lastmod ) }} (updated {{ dateFormat "01 Jan 2006" .Lastmod }}) {{- end }} /</span>
                  <span>{{ i18n "readingTime" .Page.ReadingTime }} read /</span>
                  <span>
                      {{- with .Params.tags }}
                        {{- range . -}}
                            <a class="tag" href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a>
                        {{- end }}
                      {{- end }}
                    </span>
                </div>
            </div>

            {{- if .Params.toc }}
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
            {{- end }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}
          </header>
          <main class="post-content">
            {{ .Content }}
          </main>
        </article>
        <hr/>

        {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
            <div class="pagination">
                {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink }}" class="button previous">
                    <span class="button__icon">←</span>
                    <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
                {{ end }}

                {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.Permalink }}" class="button next">
                    <span class="button__text">{{ .PrevInSection.Title }}</span>
                    <span class="button__icon">→</span>
                </a>
                {{ end }}
            </div>
        {{ end }}

        <div class="post-commit-info">
            {{- if .GitInfo }}
                <span>Built from commit </span>
                <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank"
                    rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
                <span>at {{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}</span>
            {{- end }}
        </div>

    </main>
{{ end }}
