{{ define "main" }}
    <main class="post">

        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            <div class="post-info">
                <div>
                    <span>
                        {{ i18n "wordCount" .Page.WordCount }}, about {{ i18n "readingTime" .Page.ReadingTime }} to read;
                    </span>
                    <span>
                        {{- with .Params.tags }}
                            <span> tagged in </span>
                            {{- range . -}}
                                <span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>
                            {{- end }}
                        {{- end }}
                    </span>
                </div>
                <div>Written on {{ dateFormat "2006-01-02" .Date.Local }},
                    last updated on {{ dateFormat "2006-01-02" .Lastmod }}
                </div>
            </div>

            {{- if .Params.toc }}
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
            {{- end }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
        <hr/>

        {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
            <div class="pagination">
                <div class="pagination__buttons">
                    {{ if .NextInSection }}
                        <span class="button previous">
                            <a href="{{ .NextInSection.Permalink }}">
                                <span class="button__icon">←</span>
                                <span class="button__text">{{ .NextInSection.Title }}</span>
                            </a>
                        </span>
                    {{ end }}

                    {{ if .PrevInSection }}
                        <span class="button next">
                            <a href="{{ .PrevInSection.Permalink }}">
                                <span class="button__text">{{ .PrevInSection.Title }}</span>
                                <span class="button__icon">→</span>
                            </a>
                        </span>
                    {{ end }}
                </div>
            </div>
        {{ end }}

        <div class="post-commit-info">
            {{- if .GitInfo }}
                <span>Built from commit </span>
                <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank"
                    rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
                <span>at {{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}</span>
            {{- end }}
        </div>

    </main>
{{ end }}
